* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#portfolio {
    text-align: center;
}

section {
    display: flex;
    margin: 20px 0;
}

section header {
    flex-basis: 10%;
    border-right: solid green 3px;
    margin-right: 25px;
    text-align: right;
    padding: 10px;
    font-size: large;
}

main img {
    max-height: 200px;
}

#horiseon {
    background-image: url(./images/digital-marketing-meeting.jpg)
}

section div {
    flex-basis: 75%;
    padding: 25px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
}

#projects a {
    flex-basis: calc(50% - 1em);
    height: 150px;
    border: 2px solid black;
    margin: 0.5em;
    background-size: cover;
}

#projects a > div {
    width: 30%;
}

#projects a:first-child {
    flex-basis: 100%;
    height: 250px;
}

#contact-me {
    display: flex;
    font-size: 30px;
    justify-content: space-between;
}

#footer {
    padding: 25px;
    text-align: center;
}

@media screen and (max-width: 1000px) {

}